@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-webkit-keyframes BounceUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px); } }
.section-clients {
  position: relative; }

.clients-belt {
  width: 100%;
  position: relative; }
  .clients-belt .client-unit {
    max-width: 750px;
    margin: 50px auto;
    display: flex;
    position: relative;
    z-index: 1;
    display: none; }
    .clients-belt .client-unit.active-client {
      display: flex;
      flex-direction: row;
      animation: fadeInUp 0.3s; }
    .clients-belt .client-unit .client-face {
      min-width: 300px;
      text-align: center; }
      .clients-belt .client-unit .client-face img {
        margin-top: 15px;
        max-width: 150px;
        border-radius: 5%; }
      .clients-belt .client-unit .client-face .client-name {
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px; }
      .clients-belt .client-unit .client-face .client-title {
        font-style: none;
        font-size: 12px;
        color: #999; }
    .clients-belt .client-unit .client-content {
      font-size: 16px;
      line-height: 36px;
      font-weight: 300;
      position: relative;
      text-align: justify;
      margin: 0 auto; }

.clients-logos {
  position: relative;
  width: 100%;
  max-width: 750px;
  margin: 50px auto 100px;
  display: flex;
  justify-content: space-around;
  align-content: flex-end; }
  .clients-logos .client-logo {
    height: 40px;
    cursor: pointer;
    margin: 0 20px;
    opacity: 0.5;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent; }
    .clients-logos .client-logo.active-client {
      animation: BounceUp 0.3s;
      opacity: 1;
      border-bottom: 4px solid tomato; }

.client-quote-mark {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 60px;
  height: 60px;
  z-index: -1;
  opacity: 0.2; }
  .client-quote-mark path {
    fill: tomato; }

.client-controls {
  position: absolute;
  width: 100%; }
  .client-controls > div {
    width: 40px;
    height: 40px;
    margin-top: 20px; }
  .client-controls .client-control-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px; }
    .client-controls .client-control-next path {
      fill: rgba(31, 7, 24, 0.7); }
  .client-controls .client-control-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px; }
    .client-controls .client-control-prev path {
      fill: rgba(31, 7, 24, 0.7); }

.clients-mobile-nav {
  text-align: center;
  display: none; }
  .clients-mobile-nav span {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(31, 7, 24, 0.9);
    margin: 0 10px; }
    .clients-mobile-nav span.active-client {
      background-color: tomato; }

@media screen and (max-width: 750px) {
  .clients-mobile-nav {
    display: block; }

  .client-controls {
    display: none; }

  .clients-belt .client-unit.active-client {
    display: block;
    position: relative;
    margin-left: 0;
    left: auto; }
  .clients-belt .client-face {
    margin-bottom: 20px; }
  .clients-belt .client-content {
    padding: 0 30px;
    max-width: 400px; }
  .clients-belt .client-quote-mark {
    left: 20px; }

  .clients-logos {
    display: none; } }

/*# sourceMappingURL=clients.css.map */
